[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
bs4 = "*"
requests = "*"

[dev-packages]
pycodestyle = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python main.py"
start3 = "python3 main,py"
